.sizes {
    margin-bottom: 10px;
    margin-right: 6px;
    padding: 8px 5px 8px 5px;
    background-color: rgb(245, 237, 237);
    border-radius: 22px;
    text-align: center;
}

hr {
    border: 0.5px solid yellow;
    width: 20px;
    position: relative;
    left: 90px;
}
.text-cen {
    text-align: center;
}

span {
    font-weight: bold;
}

#subtext {
    margin-bottom: 2px;
}

#sub1 {
    color: grey;
}

.cart {
    background-color: rgb(36, 32, 37);
    margin-top: 12px;
    border-radius: 5px;
}


.cart p {
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
}

.shipping {
    background-color: rgb(36, 32, 37);
    color: white;
    width: 85px;
    height: 25px;
    padding-top: 3px;
    font-size: 10px;
    text-align: center;
    border-radius: 2px;
    position: relative;
    left: 130px;
    top: 10px;
}

.card:hover {
    border: 0.5px solid rgb(199, 199, 199);
}

.cart:hover {
    background-color: yellow;
}

.card {
    margin-bottom: 30px;
    border: 0px;
}

select {
    border: 1px solid rgb(211, 211, 211);
    padding-top: 4px;
    padding-bottom: 5px;
}